# File that determines the positioning of directories and files inside
# the current directory
.DS_Store

# Directory containing the bytecode precompiled files
__pycache__

# Plots used to visualize the output results
*.png


# Temporaneo. Voglio prima copiare il modello di P.U.Diehl paro paro
python/brian2/mnist.py
python/brian2/plotUtils.py
