# File that determines the positioning of directories and files inside
# the current directory
.DS_Store

# Directory containing the bytecode precompiled files
__pycache__

# Plots used to visualize the output results
*.png
*.svg

# Report files and similar
*.txt

# Numpy arrays
*.npy

# Vivado simulation files
sim/

# Files on iCloud
*.icloud

# Temporary files
tmp.*

# Memory files for the BRAM initialization
*.mem
